*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: white;
    font-family: 'Open Sans';
    color: lightslategrey;
    min-height: 100%;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100%;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/4c/14/97/4c14970a57afa8c02e1e8327bb073046.jpg");
    position: relative;
    background-color: white;
}


.hero-content {
    position: relative;
    width: 80%;
    height: auto;
    background-color: white;
    opacity: .95;
    vertical-align: middle;
    text-align: center;
    padding: 5%;
    margin: 10%;
    
}

.hero-content .hero-title {
    position: relative;
    width: 80%;
    opacity: 1;
    padding: 5%;
    margin: 8%;
    font-family: 'Electrolize', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 4px 4px 4px grey;
    color: navy;
    border: solid;
    border-width: 6px;
    border-color: navy;
}

.hero-content .hero-title:hover {
    cursor: pointer;
    background-color: navy;
    opacity: 1;
    color: white;
}

.hero-content .hero-title .link {
    font-family: 'Electrolize', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 4px 4px 4px grey;
    color: navy;
    text-decoration: none;
}

.hero-content .hero-title .link:hover {
    color: white;
    background-color: navy;
}

.navbar {
    position: relative;
    float: top;
    padding: 0.5rem;
    background-color: navy;
    z-index: 1;
    height: 15%;
}

.navbar .links-container {
    display: table;
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    height: 5rem;
    color: white;
    text-decoration: none;
}

.links-container .navbar-link {
    display: table-cell;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Electrolize', sans-serif;
    text-decoration: none;
    cursor: pointer;
   
}

.links-container .navbar-link:hover {
    font-size: 1rem;
}

.links-container .navbar-link:active {
    font-style: italic;
}

.rooms-h1 {
    background-color: white;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.05rem;
    font-weight: 900;
    color: navy;
    text-transform: uppercase;
    font-family: 'Electrolize', sans-serif;
    text-shadow: 4px 4px 4px grey;
    text-decoration: none;
    width: 100%;
    padding: 1.25rem;
    margin-bottom: -1rem;
    margin-top: 1rem;
    opacity: .95;
    float: top;
}

.rooms-h2 {
    background-color: white;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: navy;
    text-transform: none;
    font-family: 'Electrolize', sans-serif;
    width: 100%;
    height: 3rem;
    padding: .5rem;
    margin-bottom: 0rem;
    opacity: .95;
    float: top;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
}

.logo {
    position: relative;
    align: left;
    float: top;
    left: 2rem;
    cursor: arrow;
    height: 20%;
    width: 25%;
}

ul {
    float: left;
    list-style-type: none;
    width: 35%;
    height: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    opacity: .95;
    text-shadow: 
}

.activity-box {
    background-size:100%;
    postion: relative;
    float: left;
    width: 250px;
    min-width: 250px;
    height; 100%;
    background-color: white;
    border-right-color: navy;
    border-right-width: 10px;
    border-right-style: solid;
    opacity: .95;
}

.activity-box .list-item {
    position: relative;
    height: 100%;
    width: 11rem;
    text-align: center;
    padding-bottom: 1rem;
    background-color: white;
    opacity: .95;
    color: navy;
    font-size: 1.5rem;
    font-family: 'Electrolize', sans-serif;
}

.activity-box .list-item:active {
    font-style: italic;
}

.activity-box .list-item:hover {
    background-color: navy;
    opacity: .95;
    color: white;
    font-size: 1.5rem;
    font-family: 'Electrolize', sans-serif;
}

.activity-box .add-room {
    background-color: navy;
    padding: 1rem;
    opacity: .95;
    background-size:100%;
    postion: relative;
    float: left;
    width: 250px;
    min-width: 250px;
    height; 100px; 
}

.add-room .room-btn {
    position: absolute;
    width: 8rem;
    text-align: center;
    padding: .5rem;
    background-color: navy;
    opacity: .95;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Electrolize', sans-serif;
    text-decoration: none;
    border-color: navy;
    border-width: 10px;
    border-style: solid;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.add-room .room-btn:hover {
    background: white;
    color: navy;
    text-decoration: none;
    cursor: pointer;
}

.add-room .room-btn:active {
    background: navy;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-style: italic;
}


.modal {
    position: fixed;
    width: 80%;
    min-width: 80%;
    height:80%;
    min-height: 80%;
    margin:10%;
    padding: 1%;
    background-color: navy;
    opacity: .95;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    color: white;
    text-transform: none;
    font-family: 'Electrolize', sans-serif;
}

.modal-backdrop {
    position: fixed;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: black;
    opacity: .7;
    padding: 1%;
}

.modal-dialogue {
    position: fixed;
    background: white;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-color: white;
    border-width: thick;
    padding: 2.5%;
    margin: 2.5%
}

.modal .ng-scope {
    position: absolute;
    margin: 8%;
    background-color: white;
    float: top;
    width: 80%;
    min-width:80%;
    height: 80%;
    min-height: 80%;
    border-color: white;
    border-width: thick;
}



.modal-h1 {
    position: relative;
    text-align: relative;
    font-size: 3rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: navy;
    text-transform: none;
    font-family: 'Electrolize', sans-serif;
    border-bottom: 3px;
    border-bottom: navy;
    border-bottom: solid;
    margin: 2%;
    padding-top: 10%;
}

.modal-input-bar {
    color: navy;
    width: 80%;
    font-size: 1rem;
}

.modal .btn1 {
    position: relative;
    float: left;
    text-align: relative;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    color: navy;
    text-transform: none;
    font-family: 'Electrolize', sans-serif;
    color: white;
    background-color: navy;
    border: solid;
    border-color: navy;
    border-width: thick;
    padding: 5px;
    width: 35%;
    min-width: 35%;
    height: 15%;
    margin-left: 10%;
    margin-top: 5%;
    text-decoration: none;
}

.modal .btn2 {
    position: relative;
    text-align: relative;
    text-decoration: none;
    float: right;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    color: navy;
    text-transform: none;
    font-family: 'Electrolize', sans-serif;
    color: white;
    background-color: navy;
    border: solid;
    border-color: navy;
    border-width: thick;
    padding: 5px;
    width: 35%;
    min-width: 35%;
    height: 15%;
    margin-top: 5%;
    margin-right:11%;
}

.modal .btn1:hover {
    color: navy;
    background-color: white; 
    border: solid;
    border-color: navy;
    border-width: thick;
    cursor: pointer;
}

.modal .btn1:active {
    border: 3px solid white;
    font-style: italic;
    border: solid;
    border-color: navy;
    border-width: thick;
}

.modal .btn2:hover {
    color: navy;
    background-color: white; 
    border: solid;
    border-color: navy;
    border-width: thick;
    cursor: pointer;
}
.modal .btn2:active {
    border: 3px solid white;
    font-style: italic;
    border: solid;
    border-color: navy;
    border-width: thick;
}

/* Medium and small screen (640px) */
@media (min-width: 640px) {
    html { font-size: 112%; }
    
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}
/* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 120%; }
}
.message-field .message-box {
    postition: relative;
    float: left;
    height: 3rem;
    width: 100%;
    border: navy;
    border-style: solid;
    border-width: 10px;
    font-color: black;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    text-transform: none;
    font-family: 'Electrolize', sans-serif;
}

.message-field .room-btn { 
    position: relative;
    text-align: center;
    text-decoration: none;
    float: left;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    color: navy;
    text-transform: none;
    font-family: 'Electrolize', sans-serif;
    color: white;
    background-color: navy;
    border: solid;
    border-color: navy;
    border-width: 10px;
    padding: 5px;
    width: 50%;
    min-width: 35%;
    height: 15%;
    margin-top: 0%;
    margin-right:11%;
    margin-bottom: 10%;
}

.message-field .room-btn:hover {
    color: navy;
    background-color: white; 
    border: solid;
    border-color: navy;
    border-width: 10px;
    cursor: pointer;
}

.message-field .room-btn:active {
    border: 3px solid white;
    font-style: italic;
    border: solid;
    border-color: navy;
    border-width: 10px;
}


.message-container {
    position: absolute;
    min-height: 600px;  
    background-color: white;
    width: 100%;
    align: left;
    height: 100%;
    opacity: .95;
    margin-left: 250px;;
}

.message-container .chat-title {
    margin-top: 6rem;
    margin-left: 8rem;
    margin-bottom: 3rem;
    position: absolute;
    float: left;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    color: navy;
    text-transform: none;
    font-family: 'Electrolize', sans-serif;
}

.message-field {
    margin-top: inherit;
}

.message-list {
    position: relative;
    width: 100%;
    border-bottom-width: thin;
    padding: 1rem;
    border-bottom-color: black;
}

.message-place {
    position: absolute;
    margin-top: 7rem;
}
.message-place .messages {
    position: relative;
    padding: 1rem;
    float: left;
    text-align: center;
    font-size: rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    color: navy;
    width: 100%;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
    text-transform: none;
    font-family: 'Electrolize', sans-serif;
    text-align: left;
}