<h1 class="rooms-h1">Bloc Chat Rooms</h1>
<h2 class="rooms-h2">By all means, chat like a professional.</h2>
<div class="activity-box"> 
    <ul>
        <li class="list-item" ng-repeat="room in rooms.rooms">
            <a ng-click="rooms.setActiveChatRoom(room)"><br>{{ room.name }}<br></a>
        </li>
    </ul>
</div>
<div class="message-container">
    <div class="add-room">
        <a class = "room-btn" ng-click="rooms.open()">Add New Room</a>
    </div>
    <h1 class="chat-title">{{ rooms.activeRoom.name }}</h1><br>
    <section class="message-place" ng-show="rooms.activeRoom.name != null">
        
        <ul class="message-list">
            <li class="messages" ng-repeat="message in rooms.messages">{{ message.username }} said:<br> "{{ message.message }}"</li>
        </ul>
        <div class="message-field">
            <input type="text" name="input" placeholder="Type message here" class="message-box" ng-model="content" ng-submit="content"><br>
            <a class="room-btn" ng-click="rooms.send(content)">Send Message</a>
        </div>
    </section>
</div>

